<div class="container">
  <div class="row">
    <div class="col text-center ">
      <h1 class="mt-5">Jokes</h1>
      <p>Add your joke here.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-jokes-form [title]="draftTitle$ | async"
                      [body]="draftBody$ | async"
                      (joke)="onJoke($event)"
                      (cached)="onCached($event)">
      </app-jokes-form>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <app-jokes [jokes]="jokes$ | async"
                 [hasFavorited]="hasFavorited$ | async"
                 (delete)="onDelete($event)"
                 (favorite)="onFavorite($event)"></app-jokes>
    </div>
  </div>


</div>